<?xml version="1.0" encoding="UTF-8"?>
<app>
    <components>
        <component id="reveiver" class="Receiver">
            <option name="配置1" value="a"/>
        </component>
        <component id="auth" class="AuthFilter">
            <option key="配置1" value="a"/>
        </component>
    </components>

    <lines>
        <line component="reveiver" point="a">
            <to component="auth" point="a"/>
            <to component="auth" point="a"/>
            <to component="auth" point="a"/>
        </line>
    </lines>
</app>
